.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #6c757d; /* Soft gray */
}

.breadcrumb-item {
    display: inline;
    font-size: 13px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: " / ";
    color: #6c757d; /* Soft gray */
}

.breadcrumb-item a {
    text-decoration: none;
    color: #6c757d; /* Soft gray */
}

.breadcrumb-item a:hover {
    color: #E10915; /* Color on hover */
}
/* Empresa */
.lista li{
    color: #E10915;
}

.titulo__seccion{
    font-family: 'Montserrat-SemiBold';
    color:#E10915;
    font-size:24px;
    text-transform:uppercase;
}

.border__secciones{
    width: 80px;
    height:2px;
    background-color:#E10915;
}

.categorias__titulo{
    font-family: 'Montserrat-SemiBold';
    color:#E10915;
    font-size:16px;
    text-transform:uppercase;
}
.categorias__subtitulos{
     font-family: 'Montserrat', sans-serif !important;
    color:#6E6F71;
    font-size:14px;

}

.contenedor {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    overflow: hidden; /* Evita que la imagen desborde el contenedor */
    border: 1px solid #f1f1f1; /* Ajusta el borde según necesites */
    border-radius: 5px; /* Si quieres bordes redondeados */
}

.image {
    display: block;
    width: 100%;
    height: 303px;
    transition: transform 0.5s ease-in-out;
}

.contenedor:hover .image {
    transform: scale(1.1); /* Aplica el zoom manteniendo el borde */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;

}

.contenedor:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.boton_presupuesto {
    background-color: #E10915;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #E10915;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.3s ease;

}

.boton_presupuesto:hover {
    text-decoration: none;
    background-color: white; /* Un tono más oscuro en hover */
    color: #c10812;
    border: 1px solid #E10915;
  
}

.boton_presupuesto:active {
    transform: scale(0.98); /* Efecto de presión */
}

  /* Estilo para las flechas de navegación */
  ul.slick-dots{
    margin-top: 20px;
    bottom: -30px !important;
}
ul.slick-dots li{
    margin-left: 5px;
    margin-right: 5px;
}
ul.slick-dots li.slick-active button{
    background-color: #b42b2b !important;
}
ul.slick-dots li button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    padding: 0px !important;
    background-color: #ADAFB2;
}
ul.slick-dots li button:before{
    content: '' !important;
    display: none !important;
}


#accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
}

#accordion a {
    text-align: left;
    font-family: 'Montserrat', sans-serif ;
    letter-spacing: 0;
    color: #505050;
    opacity: 1;
    text-transform: capitalize;
    font-size: 16px; /* Increased font size */
    display: block;
    padding: 15px 20px; /* Increased padding */
    border-bottom: 1px solid #C5C5C5;
    text-decoration: none;
}

#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
    color: #b42b2b;
    transition: all 0.2s ease-in;
}

#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
    color: #b42b2b;
}

#accordion .panel-heading {
    padding: 0;
    border-radius: 0px;
    text-align: center;
     font-family: 'Montserrat', sans-serif !important;
    font-size: 14px; /* Increased font size */
}

#accordion .panel-heading a:not(.collapsed) {
    color: #E10915;
    font-weight: 500;
    transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
.accordion-toggle::before {
    cursor: pointer;
    content: '\00a0\00a0-\00a0\00a0';
    float: right;
    color: #E10915;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;

    transform: rotate(0deg);
    transition: all 0.2s ease-in;
}

.accordion-toggle.collapsed::before {
    cursor: pointer;
    color: #E10915;
    margin-top: 10px;

    content: '\00a0\00a0+\00a0\00a0';
    transition: all 0.2s ease-in;
}

#accordion .panel-body {
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    line-height: 1;
    font-weight: 400;
    color:#505050; 
}

.link_ficha{
    color:#DA241D;
}

.link_ficha:hover{
    text-decoration: none;
    color: #DA241D;
}

.link_presupuesto{
    color: white;
}

.link_presupuesto:hover{
    color: white;
    text-decoration: none;
}

.textoVentaja{
     font-family: 'Montserrat', sans-serif !important;
    color:#6E6F71;
    font-size: 14px;
}


.fotorama__thumb{
    border:1px solid #DFDFDF;
    padding: 10px;
    border-radius: 8px;
}
                     .fotorama__img {
                        border: 1px solid #DFDFDF;
                        border-radius: 30px;
                    } 
.fotorama__stage {
    border: 0.5px solid #DFDFDF;
    border-radius: 8px;
}

.fotorama__thumb-border{
    border-radius: 8px;
    border: 1px solid #DFDFDF;
  border-color: #DA241D !important;
}



.producto-imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.producto-titulo {
    padding-left: 0px;
    text-transform: uppercase;
     font-family: 'Montserrat', sans-serif !important;
    color: #DA241D;
    font-weight: 600;
    font-size: 20px;
}
.producto-texto {
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #6E6F71;
    font-size: 14px;
}
.producto-descripcion {
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #6E6F71;
    font-size: 14px;
}
.producto-btn-ficha {
    color: #DA241D;
    border: 1px solid #DA241D;
     font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
    width: 210px;
}
.producto-btn-presupuesto {
    background-color: #DA241D;
    color: white;
    width: 216px;
}
.ventajas-titulo, .descripcion-titulo, .productos-relacionados-titulo {
    font-family: 'Montserrat-SemiBold';
    color: #DA241D;
    font-size: 17px;
    border-bottom: 0.5px solid #E0E0E0;
}
/* .ventaja-imagen {
    width: 100%;
    height: 100px;
    object-fit: cover;
} */
.ventaja-texto {
     font-family: 'Montserrat', sans-serif !important;
    color: #6E6F71;
    font-weight: 600;
    font-size: 14px;
}


.form-control {
    border: 1px solid #d3d4d6;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #6E6F71;
}

.form-control:focus{
    border-color: #FF6600 !important;
    box-shadow: 0 0 0 0.25rem rgba(234, 111, 140, 25%);
}


.form-label{
    font-family: 'Roboto', sans-serif;
}
.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}
.custom-file-button input[type=file]::file-selector-button {
    display: none;
}
/* input[type="file"] {
display: none;
} */
.custom-file-button:hover label {
    cursor: pointer;
}

#inputGroupFile{
    /*border-radius: 6px;*/
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-left: 1px solid #E6E6E6 !important;
    border-right: none !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    /* identical to box height, or 167% */

    
    color: #D80007;
}